# Python
*.py[cod]
__pycache__/
*.so

# Django
*.log
*.sqlite3
db.sqlite3
/media
/staticfiles
/coverage/
*.pot
*.pyc
*.pyo

# Virtual Environment
venv/
env/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

# Python egg files
*.egg
*.egg-info/
dist/
build/

.env